
/* profil  */ 
.profile-title {
  display: inline-block;
  width: 150px;
  margin-bottom: 8px;
}

.profile-desc {
  display: inline-block;
  color: #848484;
  margin-bottom: 8px;
}

.social-icons li {
  display: inline-block;
  padding: 0px 9px;
}

.row {
  margin-bottom: 0px;
}

/*Image en rond*/
img.avatar { 
  margin-top: 20px;
  overflow:hidden;
  -webkit-border-radius:100px;
  -moz-border-radius:100px;
  border-radius: 300px;
  width: 70%;
  height: 70%;
}


.info ul {
  display: inline-block;
  text-align: left;
}

h1 {
  font-size: 42px;
  line-height: 42px;
}

h2 {
  font-size: 24px;
  line-height: 35px;
}
.info p {
  font-size: 16px;
  line-height: 25px;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 20px !important;
}

.interests > div {
  padding: 0px 5px;
}


div {
    display: block;
}


/* pour la premier page */
.pageone{
    width: 100%;
    height: 100%;
   
}


/* image de font premiere page */
.font{
      background:no-repeat center url(./images/font.jpg);
    width: 100%;
    height: 100vh;
    background-size: cover;
}

#font{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
       
  }


.card{    z-index: 2;

}


.indexun{
   z-index: 1;
}

/* Menu */
#menu{
  position: fixed;
  z-index: 100;
  background-color: rgba(0,0,0,0);
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
body{
  font-family: 'Lato', sans-serif;
  direction: flex;
  flex-direction: column;
}


#info{
  margin-top: 200px;
  position: relative;
  z-index: 2;
  
}


/* bar progressive */ 
@keyframes progressLoad {
  0% {
    width:0%;
  }
}

.determinate {
  animation: 3s ease-out 0s 1 progressLoad;
  -webkit-animation-play-state : paused;
}

/* icon qui bougent */
.interests .card:hover .effect {
    -webkit-transform: rotateY(360deg);
    -moz-transform: rotateY(360deg);
    -ms-transform: rotateY(360deg);
    transform: rotateY(360deg);
}

.effect {
  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}


/* titre semi souligné*/
h2 span{
  border-bottom: 3px solid black;
}


/* Fleche de defilement vers le bas bouge */
.scroll-down {
  position: absolute;
  left: 50%;
  bottom: 100px;
  display: block;
  text-align: center;
  font-size: 20px;
  /* meme index que le font pour éviter que la fleche passe sur la carte sur mobile */
  z-index: 1;
  text-decoration: none;
  text-shadow: 0;
  width: 50px;
  height: 50px;
  border-bottom: 4px solid #fff;
  border-right: 4px solid #fff;
  z-index: 9;
  left: 50%;
  -webkit-transform: translate(-50%, 0%) rotate(45deg);
  -moz-transform: translate(-50%, 0%) rotate(45deg);
  transform: translate(-50%, 0%) rotate(45deg);
  -webkit-animation: fade_move_down 4s ease-in-out infinite;
  -moz-animation:    fade_move_down 4s ease-in-out infinite;
  animation:         fade_move_down 4s ease-in-out infinite;
}


/*animation scroll fleche */
@-webkit-keyframes fade_move_down {
  0%   { -webkit-transform:translate(0,-10px) rotate(45deg); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { -webkit-transform:translate(0,10px) rotate(45deg); opacity: 0; }
}
@-moz-keyframes fade_move_down {
  0%   { -moz-transform:translate(0,-10px) rotate(45deg); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { -moz-transform:translate(0,10px) rotate(45deg); opacity: 0; }
}
@keyframes fade_move_down {
  0%   { transform:translate(0,-10px) rotate(45deg); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { transform:translate(0,10px) rotate(45deg); opacity: 0; }
}

/* button */
#scrollUp
{
position: fixed;
bottom : 10px;
right: -100px;
opacity: 0.5;
}

/* Footer */
.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    text-align: center;
    background-color:#D2D5D6;
}

.footer-title {
    display: inline-block;
    margin-bottom: 6px;
    font-size: 22px;
    font-weight: 700;
    color: #111;
}

