
.header-bg {
  /*position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;
  background-size: cover;
  background-color: #242843;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(./images/font.jpg);
 

  width: 100%;
  height: 100vh;*/
  margin:  auto;
}

#wrapper {
  max-width: 970px;
}
.profile-title {
  display: inline-block;
  width: 150px;
  margin-bottom: 8px;
}

.profile-desc {
  display: inline-block;
  color: #848484;
  margin-bottom: 8px;
}

.social-icons li {
  display: inline-block;
  padding: 0px 9px;
}

.row {
  margin-bottom: 0px;
}

img.avatar { /*Image en rond*/
  margin-top: 20px;
  overflow:hidden;
  -webkit-border-radius:100px;
  -moz-border-radius:100px;
  border-radius: 300px;
  width: 250px;
  height: 250px;
}


.info ul {
  display: inline-block;
  text-align: left;
}

h1 {
  font-size: 42px;
  line-height: 42px;
}

h2 {
  font-size: 24px;
  line-height: 35px;
}
.info p {
  font-size: 16px;
  line-height: 25px;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 20px !important;
}

.interests > div {
  padding: 0px 5px;
}


div {
    display: block;
}

.espace{
  min-height: 14px !important; 
  margin-bottom: 48px !important;
  margin: 0 auto;
  max-width: 1280px;
  width: 90%;
}

.pageone{
    width: 100%;
    height: 100%;
    z-index: 2;
}

.particulesdiv{
  background:no-repeat center url(./images/font.jpg);
    width: 100%;
    height: 100vh;
    background-size: cover;
}
#particles-js{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: black;
    opacity: 0.7;
  }
    
#menu{
  position: fixed;
  z-index: 100;
  background-color: rgba(0,0,0,0);
}
.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
body{
  font-family: 'Lato', sans-serif;
  direction: flex;
  flex-direction: column;
}


#info{
  margin-top: 200px;
  position: relative;
  z-index: 2;
  
}



@keyframes progressLoad {
  0% {
    width:0%;
  }
}

.determinate {
  animation: 1s ease-out 0s 1 progressLoad;
  -webkit-animation-play-state : paused;
}

.interests .card:hover .effect {
    -webkit-transform: rotateY(360deg);
    -moz-transform: rotateY(360deg);
    -ms-transform: rotateY(360deg);
    transform: rotateY(360deg);
}

.effect {
  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}